<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <img class="profile-img" src="/images/apss.jpg" alt="Aparna's img">
    </div>
    {{>footer}}
  </body>
</html>
